div {
  position: absolute;
  width: 20%;
  height: 50px;
  text-align: center;
  right: 5%;
  font-size: 90%;
  z-index: 500000;
  top: 10%;
}


@media only screen and (max-width: 750px) {
  div {
    top: 10%;

    width: 50%;
  }
}