<form class="form" [formGroup]="createForm" enctype='multipart/form-data'>

  <div class="form-group">
    <input type="text" placeholder="name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.name.errors }">
    <div *ngIf="submitted && validate.name.errors" class="invalid-feedback">
      <div *ngIf="validate.name.errors.required">Name is required</div>
    </div>

    <input type="text" placeholder="city" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.city.errors }">
    <div *ngIf="submitted && validate.city.errors" class="invalid-feedback">
      <div *ngIf="validate.city.errors.required">City is required</div>
    </div>

    <input type="text" placeholder="shortDescription" formControlName="shortDescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.shortDescription.errors }">
    <div *ngIf="submitted && validate.shortDescription.errors" class="invalid-feedback">
      <div *ngIf="validate.shortDescription.errors.required">Short Description is required</div>
      <div *ngIf="validate.shortDescription.errors.maxlength">Short Description must be atmost 20 characters</div>
    </div>

    <input type="date" formControlName="date" placeholder="dd-mm-yyyy" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.date.errors }">
    <div *ngIf="submitted && validate.date.errors" class="invalid-feedback">
      <div *ngIf="validate.date.errors.required">Date is required</div>
    </div>
  </div>
  
  <div class="form-group">

      <input type="file" style="display:none" (change)="onFileSelected($event,'banner')" #bannerImage>
      <button [ngClass]="{'button_dark': darkModeActive}" (click)="bannerImage.click()">Pick Banner Image </button><br>
  
      <input type="file" style="display:none" (change)="onFileSelected($event,'display')" #displayImage>
      <button [ngClass]="{'button_dark': darkModeActive}"  (click)="displayImage.click()">Pick Display Image </button>
  
    </div>

  <div class="form-group">
    <input type="text" placeholder="address" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.address.errors }">
    <div *ngIf="submitted && validate.address.errors" class="invalid-feedback">
      <div *ngIf="validate.address.errors.required">Address is required</div>
    </div>

    <textarea rows="10" cols="80" placeholder="longDescription" formControlName="longDescription" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && validate.longDescription.errors }"></textarea>
    <div *ngIf="submitted && validate.longDescription.errors" class="invalid-feedback">
      <div *ngIf="validate.longDescription.errors.required">Long Description is required</div>
      <div *ngIf="validate.longDescription.errors.minlength">Long Description must be atleast 30 characters </div>
      <div *ngIf="validate.longDescription.errors.maxlength">Long Description must be atmost 300 characters</div>
    </div>
  </div>


  <div class="form-group type">
    <label>Type </label>
    <select class="form-control" formControlName="type">
      <option [value]="type" *ngFor="let type of eventTypes"> {{type}}</option>
    </select>
  </div>

  <div class="form-group cost">
    <label>Cost </label><input id="cost" formControlName="cost" class="form-control" type="number" name="cost" value="cost"       
    [ngClass]="{ 'is-invalid': submitted && validate.cost.errors }">
    <div *ngIf="submitted && validate.cost.errors" class="invalid-feedback">
        <div *ngIf="validate.cost.errors.required">Cost is required</div>
      </div>
  </div>

  <div class="form-group seats ">

    <label>Seats :</label> <input id="seats" type="number" formControlName="totalSeats" class="form-control browser-default custom-input"
      [ngClass]="{ 'is-invalid': submitted && validate.totalSeats.errors }">


    <div *ngIf="submitted && validate.totalSeats.errors" class="invalid-feedback">
      <div *ngIf="validate.totalSeats.errors.required">Seats is required</div>
      <div *ngIf="validate.totalSeats.errors.min">Seats Should be more than 0</div>
    </div>
  </div>

  <input [ngClass]="{'button_dark': darkModeActive}" class="submit" type="submit" (click)="onSubmit()">
</form>
