<div class="content">
  <div  id="toggleButton">
  <button [disabled]="isSettled"  (click)="togglePastButton()" type="button" class="btn">Current Budget</button>
  <button [disabled]="!isSettled" (click)="togglePastButton()" type="button" class="btn">Past Budget</button>
</div>
<div *ngIf="budgets">
  <ng-container *ngIf="budgets.length===0; else elseTemplate">
    <p>No Budget to Show</p>
  </ng-container>

  <div class="content" *ngIf="isSettled else pastTemplate">
    <dl id="budget">
      <dt *ngFor="let budget of budgets">
        <a routerLink="/budget/{{budget._id}}">
            <p>{{budget.name}} </p>
            <p>Cost :{{budget.cost}} </p>
            <p>Date :{{budget.createdDate|date}} </p>
            <p>Buyer :{{budget.buyer}} </p>
        </a>
      </dt>
    </dl>
  </div>

  <ng-template class="content" #pastTemplate>
    <dl id="budget">
      <dt *ngFor="let budget of budgets">
        <a>
            <p>{{budget.name}} </p>
            <p>Cost :{{budget.cost}} </p>
            <p>Date :{{budget.createdDate|date}} </p>
            <p>Buyer :{{budget.buyer}} </p>
        </a>
      </dt>
    </dl>
  </ng-template>
</div>
</div>
