<section class="content">
  <div class="button-group">
    <button [disabled]=!isSettled (click)="toggleBudget()">OnGoing Budget</button>
    <button [disabled]=isSettled (click)="toggleBudget()">Old Budget</button>
  </div>

  <div class="budget" *ngIf="settledBudget&&!isSettled">
    <section class="budgetDetails" *ngFor="let user of contributorDetails; let
      i=index">
      <dl *ngIf="user">
        <dd>UserName:{{user.firstName |uppercase }}<dd>
        <dd>Share:{{expensesPerUser[i] | number: '.2'}}<dd>
        <dd>Total Spend:{{totalSpend[i] | number: '.2'}}<dd>
        <dd>{{expensesPerUser[i]-totalSpend[i]>0?"Due balance":"Credit balance"}}:{{expensesPerUser[i]-totalSpend[i] | positive | number: '.2'}}</dd>
      </dl>
    </section>
    <button class="calculateBtn" (click)="manageBudget()">Calculate Budget</button>
    <dl>
      <dd *ngFor="let item of statement" >{{item}}</dd>
    </dl>
  </div>


  <div class="budget" *ngIf="!settledBudget">
    <section class="budgetDetails" *ngFor="let user of
      contributorDetails; let i=index">
      <dd>UserName:{{user.firstName |uppercase }}<dd>
      <dd>Share:{{expensesPerUser[i] | number: '.2'}}<dd>
      <dd>Total Spend:{{totalSpend[i] | number: '.2'}}<dd>
    </section>
  </div>
</section>
