.footer{
    width: 100%;
    display: flex;
    position: sticky;
    bottom: 0;
    background: #3e92ff;
    align-items: center;
    flex-flow: column;
    justify-content: space-evenly;
}

.footer_dark{
    background: rgb(14, 1, 75);

}

p{
    text-align: center;
    color: white;
    padding: 1%;
}