<form *ngIf="userDetails" class="userForm">
  <label >{{userDetails.email}}</label><br>
  <label >{{userDetails.firstName}} {{userDetails.lastName}}</label><br>
</form>

<div class="button-group">
  <button [disabled]=isOpenBudget (click)="toggleBudget()">Current Budget</button>
  <button [disabled]=!isOpenBudget (click)="toggleBudget()">Past Budget</button>
</div>

<form *ngIf="publishedBudget[0]&&!isOpenBudget" class="itemForm">
  <h4>Past Items Bought by you</h4>

  <div class="form-group  publishedBudget">
    <dl *ngFor="let item of publishedBudget;let i=index">
      <div *ngIf="contributors[i]&&item.hasSettled" id="publishedBudgetDetails">
        <dd id="name">{{item.name}}</dd>
        <dd>{{item.description| titlecase}}</dd>
        <dd>Date: {{item.createdDate|date}}</dd>
        <dd>Rs. {{item.cost}}</dd>
        <dd>Contributors:</dd>
        <dd *ngFor="let contriUser of item.contributors;let j=index">
          <p *ngIf="contributors[i][j]">{{contributors[i][j].firstName}}</p>
        </dd>
        <dd>Status:{{item.hasSettled?"Completed":"Not Completed"}}</dd>
        <button [disabled]="item.hasSettled" (click)="budgetSettled(item.id)">Settle It</button>
      </div>
    </dl>
  </div>
</form>


<form  *ngIf="publishedBudget[0]&&isOpenBudget" class="itemForm">
  <h4>Items Bought by you</h4>

  <div *ngIf="publishedBudget[0]" class="form-group  publishedBudget">
    <section *ngFor="let item of publishedBudget;let i=index">
      <section *ngIf="contributors[i]&&!item.hasSettled" id="publishedBudgetDetails">
        <dd id="name">{{item.name}}</dd>
        <dd >{{item.description| titlecase}}</dd>
        <dd >Date: {{item.createdDate|date}}</dd>
        <dd >Rs. {{item.cost}}</dd>
        <dd>Contributors:</dd>
        <dd *ngFor="let contriUser of item.contributors;let j=index">
          <p *ngIf="contributors[i][j]">{{contributors[i][j].firstName}}</p>
        </dd>
        <dd>Status:{{item.hasSettled?"Completed":"Not Completed"}}</dd>
        <button [disabled]="item.hasSettled" (click)="budgetSettled(item.id)">Settle It</button>
      </section>
    </section>
  </div>
</form>
