.userForm {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 50%;
    margin: 0 auto 100px;
    padding: 20px;
    text-align: center;
    align-content: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  #userImage {
    width: 25%;
    /* background: #343434; */
    height: 150px;
    margin: 0 auto;
  }


  .publishedBudget {

    list-style-type: none;
    padding: 3%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 1%;
    /* grid-gap: 4%; */
  }
  
  #publishedBudgetDetails {
    box-shadow: 0 0 10px 0 rgba(124, 124, 124, 0.918), 0 2px 2px 0 rgba(128, 128, 128, 0.918);
    /* border: 2px solid #CE93D8; */
    list-style-type: none;
    left: 0;
    padding-top: 4px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  

 
  p{
    padding: 0%;
    margin: 0%;
  }
  
  #button-group {
    width: 100%;
    margin: 0%;
  }
  
  button {
    width: 45%;
    text-align: center;
    margin: 1px;
    color: #FFFFFF;
  }
  
  h4 {
    margin: 5%;
  }
  
  .form_dark{
   background: rgb(36, 29, 73);
   box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 4px 4px 0 rgba(255, 255, 255, 0.24);
  }
  
  .tile_dark{
   box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 2px 2px 0 rgba(255, 255, 255, 0.24);
  
  }
  
  .text_dark {
    color: rgb(255, 255, 255);
  }
  
  .image_dark{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 4px 4px 0 rgba(255, 255, 255, 0.24);
  }
  
  @media only screen and (max-width: 700px) {
  
    .userForm,
    .budgetForm {
      max-width: 90%;
    }
  
    #userImage {
      margin: 0%;
      margin-left: 25%;
      width: 50%;
    }
  
    #image-content {
      height: 100%;
      margin: 0%;
      width: 60%;
    }
  
    img {
      height: 100%;
      width: 100%;
      margin: 0%;
  
    }
  
    #publishedBudgetDetails {
      font-size: 15px;
      padding: 0%;
    }
  
    dd {
      margin: 0%;
      padding: 1%;
    }
  
    #button-group {
      display: flex;
      width: 100%;
      flex-direction: row;
    }
  
    button {
      padding: 1%;
      margin: 1%;
      text-align: center;
      width: 100%;
      font-size: 15px;
    }
  
    .btn-warning {
      width: 50%;
      padding: 0%;
      margin: 0%;
  
    }
  
    dl {
      width: 100%;
      padding: 0%;
      margin: 0%;
    }
  
  }
  